# IntelliJ IDEA
.idea/
*.iml

# Java и Spring Boot
target/
*.class
*.jar
*.war
*.ear
*.log
application.yml

# Maven/Gradle
.mvn/
.gradle/
build/
out/

# Docker
Dockerfile.local
*.dockerignore
*.env
.env.local
.env.*.local

# Временные файлы и кэш
*.tmp
*.cache
*.swp
*.DS_Store  # macOS
Thumbs.db   # Windows

# Локальные зависимости
/lib/
/libs/
/dependencies/